a{
    display:block;
}
a:link{
    color:#0063dc;
}
a:visited{
    color:#0063dc;
}
.content-wrap{
    width:400px;
    margin:100px auto;
    text-align:center;
    border:1px solid #000;
    border-radius:5px;
    padding:20px;
}